---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description=""
  pubDate={new Date("Feb 02 2022")}
  heroImage="/DSCF7360.JPG"
>
  <main>
    <p>
      神戸紀人(かんべ のりひと)<br />
      神奈川県在住のエンジニア。PythonとTypeScriptをよく書いています。<br />
      趣味は邦ロックと最近カメラを少々。
    </p>

    <h5>来歴</h5>
    - 2022/03 豊田工業高等専門学校 情報科学専攻 卒業<br />
    - 2022/04 富士通クラウドテクノロジーズ株式会社 入社

    <h5>資格</h5>
    - 基本情報技術者<br />
    - 情報セキュリティマネジメント<br />
    - 普通自動車第一種運転免許
  </main>
</Layout>
