---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('Feb 02 2022')}
	heroImage="/DSCF7360.JPG"
>
	<p>
		TODO: なんかいい感じの自己紹介を書く
	</p>
</Layout>
