---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <img src="/DSCF7360.jpg" />
      <h1>About Me</h1>
      <p>
        かんべ(@norikmb)<br />
        神奈川県在住の4年目エンジニア。<br />
        PythonとTypeScriptをたまに書いています。<br />
        趣味は邦ロックと散歩。あとたまに写真を撮ること。<br />
        好きな食べ物は牡蠣とプリン。
      </p>

      <h5>来歴</h5>
      - 2022/03 豊田工業高等専門学校 情報科学専攻 卒業<br />
      - 2022/04 富士通クラウドテクノロジーズ株式会社 入社<br />
      - 2024/04 吸収合併のため富士通株式会社に転籍<br />

      <h5>資格</h5>
      - 基本情報技術者<br />
      - 情報セキュリティマネジメント<br />
      - AWS Certified Cloud Practitioner<br />
      - AWS Certified Solutions Architect - Associate<br />
      <h5>SNS</h5>
      - <a href="https://www.wantedly.com/id/norikmb">Wantedly</a><br />
      - <a href="https://www.linkedin.com/in/norikmb">Linkedin</a><br />
      - <a href="https://x.com/norikmb">X(旧Twitter)</a><br />
    </main>
    <Footer />
  </body>
</html>
